prefix: !
token: discord_bot_token
db-type: mysql
db-host: 127.0.0.1
db-database: bot
db-user: root
db-pass:
web-public-address: https://bot.geysermc.org
web-address: 127.0.0.1
web-port: 8000
github-token: github_oauth_token
sentry-dsn: https://xxx@xxx.ingest.sentry.io/xxx
sentry-env: production
ocr-path: /usr/share/tesseract-ocr/4.00/tessdata
