{
  "problematicPlugins": [
    {
      "name": "ProtocolSupport",
      "message": "- You have ProtocolSupport installed, which is known to have problems with Geyser! Try replacing it with [ViaVersion](https://www.spigotmc.org/resources/viaversion.19254/) and [ViaBackwards](https://www.spigotmc.org/resources/viabackwards.27448/) it if you have problems."
    },
    {
      "name": "Geyser-Bukkit",
      "message": "- You have Geyser-Bukkit which is an old version of Geyser. This may and probably will interfere with normal version of Geyser, so please delete it."
    }
  ],
  "discordUpdateChannels": ["349264069007638530"],
  "autopublishChannels": ["744288680201682966","613195308930826246"],
  "logChannel": "614877230811709474",
  "convertExtensions": [".txt", ".log", ".yml"],
  "exceptionExtensions": [".txt", ".log"],
  "exceptionChecks": [
    {
      "regex": "hastebin\\.com\\/([0-9a-zA-Z]+)",
      "rawUrl": "https://hastebin.com/raw/%s"
    },
    {
      "regex": "hasteb\\.in\\/([0-9a-zA-Z]+)",
      "rawUrl": "https://hasteb.in/raw/%s"
    },
    {
      "regex": "mclo\\.gs\\/([0-9a-zA-Z]+)",
      "rawUrl": "https://api.mclo.gs/1/raw/%s"
    },
    {
      "regex": "pastebin\\.com\\/([0-9a-zA-Z]+)",
      "rawUrl": "https://pastebin.com/raw/%s"
    },
    {
      "regex": "gist\\.github\\.com\\/([0-9a-zA-Z]+\\/)([0-9a-zA-Z]+)",
      "rawUrl": "https://gist.githubusercontent.com/%1$s/%2$s/raw/"
    }
  ],
  "exceptionFixes" : [
    {
      "error": "java.net.BindException: Address already in use",
      "message": "This means something (likely another instance of Geyser) is running on the port you have specified in the config. Please make sure you close all applications running on this port. If you don't recall opening anything, usually restarting your computer fixes this."
    },    
    {
      "error": "java.net.BindException: Cannot assign requested address",
      "message": "This means the IP your server is trying to use is unavailable or disallowed by the system or firewall."
    },
    {
      "error": "java.lang.AssertionError: Expected AES to be available",
      "message": "Update your Java at [AdoptOpenJDK.net](https://adoptopenjdk.net/)."
    },
    {
      "error": "java.lang.IllegalArgumentException: Duplicate handler name: floodgate-init",
      "message": "Please don't reload your server, do `!tag reload` for more info. Restart it to fix this issue."
    },
    {
      "error": "AnnotatedConnectException: Connection timed out",
      "message": "The Geyser instance cannot connect to your Java server."
    }
  ]
}
