[Unit]
Description=Geyser Discord Bot
After=network.target
Wants=network-online.target

[Service]
Restart=always
Type=simple
ExecStart=java -jar GeyserBot.jar
WorkingDirectory=/srv/GeyserBot/
User=geyser
Group=geyser
Environment="LC_ALL=C"

[Install]
WantedBy=multi-user.target
